<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="org.fkit.mapper.UserMapper">
	<!-- insert操，
	parameterType="user"表示该插入语句需要一个user对象作为参数
	useGeneratedKeys="true"表示使用自动增长的主键 -->
  <insert id="saveUser" parameterType="user" 
  useGeneratedKeys="true" keyProperty="id">
  	INSERT INTO TB_USER(name,sex,age) 
  	VALUES(#{name},#{sex},#{age})
  </insert>
  
  <!-- select操作
  parameterType="int"表示该查询语句需要一个int类型的参数
  resultType="user"表示返回的是一个user对象 -->
  <select id="selectUser" parameterType="int" resultType="user">
  	SELECT * FROM TB_USER WHERE id = #{id}
  </select>
  
  <!-- update操作 
  parameterType="user"表示该更新语句需要一个user对象作为参数-->
  <update id="modifyUser" parameterType="user">
  	UPDATE TB_USER 
  	SET name = #{name},sex = #{sex},age = #{age}
  	WHERE id = #{id}
  </update>
  
  <!-- delete操作 parameterType="int"表示该查询语句需要一个int类型的参数-->
  <delete id="removeUser" parameterType="int">
  	DELETE FROM TB_USER WHERE id = #{id}
  </delete>
  
</mapper>