<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="org.fkit.mapper.PersonMapper">

	<!-- 根据id查询Person，返回resultMap -->
  <select id="selectPersonById" parameterType="int" 
  	resultMap="personMapper">
  	SELECT * from tb_person where id = #{id} 
  </select>

  <!-- 映射Peson对象的resultMap -->
	<resultMap type="org.fkit.domain.Person" id="personMapper">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="age" column="age"/>
		<!-- 一对一关联映射:association   -->
		<association property="card" column="card_id"
		select="org.fkit.mapper.CardMapper.selectCardById" 
		javaType="org.fkit.domain.Card"/>
	</resultMap>

</mapper>